{
  "folder": "Insert destination folder path here",
  "github": {
    "base": "https://api.github.com",
    "auth": {
      "private_token": "Get your personal token at https://github.com/settings/tokens"
    }
  },
  "gitlab": {
    "base": "https://gitlab.com/api/v4",
    "auth": {
      "private_token": "Get your personal token at https://gitlab.com/profile/personal_access_tokens"
    }
  }
}
