{
  "folder": "/Users/XXX/git-backup",
  "github": {
    "base": "https://api.github.com",
    "auth": {
      "username": "XXX",
      "password": "XXX"
    }
  },
  "gitlab": {
    "base": "https://gitlab.com/api/v4",
    "auth": {
      "private_token": "XXX"
    }
  }
}
